Bonjour {{ user.pseudo }}.
Ce mail fait suite à votre demande de changement de mot de passe sur notre site PokeSphere.
Voici votre code de mise à jour :
{{ request.token }}

Si ce mail ne vous est pas destiné, merci de ne pas en tenir compte.

L'équipe PokeSphere.