Bonjour {{ user.pseudo }}.
Ce mail fait suite à votre demande de changement d'email sur notre site PokeSphere.
Voici votre code de validation :
{{ request.token }}

Si ce mail ne vous est pas destiné, merci de ne pas en tenir compte.

L'équipe PokeSphere.