Bonjour {{ user.pseudo }}.
Ce mail fait suite à votre inscription sur notre site PokeSphere.
Voici votre code d'activation :
{{ request.token }}

Si ce mail ne vous est pas destiné, merci de ne pas en tenir compte.

Cordialement,

L'équipe PokeSphere.